---
import { Header } from "../Header/index";
import Footer from "../Footer.astro";
import Seo from "../Seo.astro";
import TimelineWorks from "../TimelineWorks.astro";

import "@fontsource/ubuntu/300.css";
import "@fontsource/ubuntu/400.css";
import "@fontsource/ubuntu/500.css";
import "@fontsource/ubuntu/700.css";

import "@fontsource/ubuntu-condensed";

import "../../styles/global.css";

const { currentLocale } = Astro;
---

<html lang={currentLocale}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <Seo />
  </head>
  <body>
    <div class="w-full h-full grid grid-cols-1 auto-rows-auto">
      <Header client:load currentLocale={currentLocale as string} />
      <TimelineWorks />
      <div class="mt-[10rem]"></div>
      <Footer />
    </div>
  </body>
</html>
