---
import { Image } from 'astro:assets';

import photo from "../assets/images/me.svg";

---

<section
  class="w-full relative h-full max-w-[76.5rem] flex justify-center items-center gap-[3.25rem] mx-auto pt-[7.5rem] pb-[10rem] px-[4rem]"
>
  <div>
    <Image src={photo} alt="Jimmy Sandoval" />
  </div>
  <div
    class="w-full max-w-[26.875rem] flex flex-col items-start -mt-[2rem]"
  >
    <h5 class="font-medium text-[1.125rem] text-primary60 tracking-[-0.04em]">
      Sobre mí.
    </h5>
    <h1 class="font-bold text-[3rem] text-primary leading-[2.125rem] mt-[0.375rem] mb-[0.5rem]">
      Jimmy Sandoval
    </h1>
    <h1
      class="font-medium text-[2rem] text-primary leading-[2.125rem]"
    >
      FullStack Developer
    </h1>
    <p
      class="font-ubuntu-condensed text-[1.25rem] text-secondary leading-[1.5rem] mt-[0.75rem] mb-[1.875rem]"
    >
      Profesional con más de 4 años de experiencia en desarollo frontend, backend y mobile.
    </p>

    <a
      href="https://www.animalsfrends.io/"
      target="_blank"
      class="w-full max-w-[7.5rem] h-[2rem] grid place-content-center border-[1px] border-primary font-ubuntu-condensed text-[0.875rem] text-primary text-center rounded-[0.5rem] hover:bg-primary hover:text-white transition-[background] duration-[150ms]"
    >
      Contáctame
    </a>
  </div>
</section>
