---
import iconFrontend from "/icons/icon-frontend.svg";
import iconApps from "/icons/icon-apps.svg";
import iconBackend from "/icons/icon-backend.svg";
---

<section
  class="w-full h-full py-[12.5rem] px-[4rem]"
  style="background: rgba(38, 38, 38, 0.02)"
>
  <div
    class="w-full max-w-[1200px] mx-auto flex flex-col items-center justify-center gap-[3.125rem]"
  >
    <div class="flex flex-col items-center gap-[0.375rem]">
      <h4 class="font-medium text-[1.125rem] text-primary60 text-center">
        Servicios
      </h4>
      <h1
        class="font-medium text-[1.75rem] to-primary text-center tracking-[-0.04em]"
      >
        Conoce en lo que soy genial.
      </h1>
    </div>
    <div class="flex flex-wrap items-center justify-center gap-[3.125rem]">
      <div
        class="w-full max-w-[14.375rem] flex flex-col items-center gap-[2.125rem] bg-white rounded-[1rem] py-[2.375rem] px-[1.25rem] shadow-[0px_0px_30px_rgba(0,0,0,0.05)] hover:shadow-[0px_0px_30px_rgba(0,0,0,0.10)]"
      >
        <div
          class="w-[5rem] h-[5rem] grid place-content-center bg-primary rounded-[1rem]"
        >
          <img src={iconFrontend} alt="Frontend" />
        </div>
        <div class="w-full flex flex-col items-center gap-[1rem]">
          <h3
            class="font-medium text-[1.125rem] leading-[1.125rem] text-center"
          >
            Frontend
          </h3>
          <p
            class="font-ubuntu-condensed text-[1rem] text-center text-[#3E3E41]"
          >
            Diseño y desarrollo de interfaces de usuario impresionantes y
            funcionales.
          </p>
        </div>
      </div>
      <div
        class="w-full max-w-[14.375rem] flex flex-col items-center gap-[2.125rem] bg-primary rounded-[1rem] py-[2.375rem] px-[1.25rem] shadow-[0px_0px_30px_rgba(0,0,0,0.05)] hover:shadow-[0px_0px_30px_rgba(0,0,0,0.15)]"
      >
        <div
          class="w-[5rem] h-[5rem] grid place-content-center bg-white rounded-[1rem]"
        >
          <img src={iconApps} alt="Frontend" />
        </div>
        <div class="w-full flex flex-col items-center gap-[1rem]">
          <h3
            class="font-medium text-[1.125rem] leading-[1.125rem] text-center text-white"
          >
            Apps
          </h3>
          <p class="font-ubuntu-condensed text-[1rem] text-center text-white">
            Desarrollo de aplicaciones móviles innovadoras para tu negocio.
          </p>
        </div>
      </div>
      <div
        class="w-full max-w-[14.375rem] flex flex-col items-center gap-[2.125rem] bg-white rounded-[1rem] py-[2.375rem] px-[1.25rem] shadow-[0px_0px_30px_rgba(0,0,0,0.05)] hover:shadow-[0px_0px_30px_rgba(0,0,0,0.10)]"
      >
        <div
          class="w-[5rem] h-[5rem] grid place-content-center bg-primary rounded-[1rem]"
        >
          <img src={iconBackend} alt="Frontend" />
        </div>
        <div class="w-full flex flex-col items-center gap-[1rem]">
          <h3
            class="font-medium text-[1.125rem] leading-[1.125rem] text-center"
          >
            Backend
          </h3>
          <p
            class="font-ubuntu-condensed text-[1rem] text-center text-[#3E3E41]"
          >
            Desarrollo de backend que impulsa el rendimiento y la eficiencia de
            tu aplicación.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
