---
import { Icon } from "astro-icon";

import testimonialImg1 from "/images/testimonial1.jpeg";
---

<section
  class="w-full h-full max-w-[76.5rem] flex flex-col items-center gap-[10rem] mx-auto pt-[3.75rem] pb-[10rem] px-[4rem]"
>
  <div class="flex flex-col items-center gap-[0.125rem]">
    <h4
      class="font-ubuntu-condensed text-[1.125rem] text-center text-secondary"
    >
      Testimonios.
    </h4>
    <h1
      class="font-medium text-[1.75rem] text-primary text-center tracking-[-0.04em] leading-[1.75rem]"
    >
      Lo que mis clientes piensan de mi
    </h1>
  </div>

  <div
    class="w-full flex flex-col items-center justify-center gap-x-[2.625rem] gap-y-[7.5rem]"
  >
    <div
      class="w-full max-w-[31.25rem] relative bg-white flex flex-col gap-[1.875rem] pt-[6.25rem] pb-[1.5rem] px-[2.125rem] rounded-[1rem] shadow-[0px_11px_60px_rgba(0,0,0,0.1)]"
    >
      <div
        class="w-[9.375rem] h-[9.375rem] absolute top-[-80px] left-[50%] -translate-x-1/2 border-[0.1875rem] bg-slate-100 border-white rounded-full overflow-hidden shadow-[0px_9px_20px_rgba(0,0,0,0.1)]"
      >
        <img
          src={testimonialImg1}
          class="w-full h-full object-cover object-center"
          alt="Nicolas Dañino Cabieses"
        />
      </div>
      <div class="w-full flex flex-col items-center gap-[0.3125rem]">
        <h1
          class="font-medium text-[1.25rem] text-primary text-center tracking-[-0.04em]"
        >
          Nicolas Dañino Cabieses
        </h1>
        <h3
          class="font-ubuntu-condensed text-[1rem] text-center text-secondary"
        >
          Head de Operaciones en Grupo Independiente
        </h3>
        <div class="flex items-center gap-[0.3125rem] text-primary">
          <a
            href="https://www.linkedin.com/in/nicolas-da%C3%B1ino-cabieses-64970719b"
            target="_blank"
            class="w-[1.5rem] h-[1.5rem] flex items-center justify-center"
          >
            <Icon pack="mdi" name="linkedin" size={24} />
          </a>
          <a
            href="mailto:nicolasdaninoc@gmail.com"
            class="w-[1.5rem] h-[1.5rem] flex items-center justify-center"
          >
            <Icon pack="mdi" name="email" size={24} />
          </a>
        </div>
      </div>
      <p
        class="relative font-ubuntu-condensed text-[1rem] text-secondary leading-[1.5rem] text-center"
      >
        <span class="absolute top-[-30px] left-[-20px] text-primary">
          <Icon pack="bi" name="quote" size={32} />
        </span>
        Trabajé con Jimmy en el desarollo del frontend del App de Flip Inversiones,
        en el cual se tuvieron que hacer integraciones con el backend y diversos
        APIs. Jimmy destacó por su rápida adaptabilidad a los requerimientos solicitados,
        por la proactividad mostrada y por su responsabilidad para cumplir con los
        plazos acordados.
        <span
          class="absolute bottom-[-10px] right-[-20px] text-primary rotate-180"
        >
          <Icon pack="bi" name="quote" size={32} />
        </span>
      </p>
    </div>
  </div>
</section>
